<div class="wanderers-sheet">
    <header class="sheet-header">
      <h1>{{actor.name}}</h1>
    </header>
  
    <nav class="sheet-tabs">
      <a class="item active" data-tab="core">Характеристики</a>
      <a class="item" data-tab="features">Черты</a>
      <a class="item" data-tab="inventory">Инвентарь</a>
    </nav>
  
    <section class="sheet-body">
      {{> systems/wanderers/templates/actor/core-sheet.html}}
      {{> systems/wanderers/templates/actor/features-sheet.html}}
      {{> systems/wanderers/templates/actor/inventory-sheet.html}}
    </section>
  </div>

  <div class="tab core" data-tab="core">
    <div class="attributes">
      {{#each core.attributes as |attr key|}}
        <div class="attribute">
          <label>{{key}}:</label>
          <input type="number" name="system.core.attributes.{{key}}" value="{{attr}}">
          <button class="roll-attr" data-attr="{{key}}">Бросить</button>
        </div>
      {{/each}}
    </div>
  </div>